# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Ollama local models (if any path)
*.gguf